[submodule "use-rtl"]
	path = use-rtl
	url = git@github.com:vnu-frsl/use-rtl.git
	branch = master
[submodule "use-validator"]
	path = use-validator
	url = git@github.com:vnu-frsl/use-validator.git
[submodule "use-filmstrip"]
	path = use-filmstrip
	url = git@github.com:vnu-frsl/use-filmstrip.git
[submodule "use-frsl"]
	path = use-frsl
	url = git@github.com:vnu-frsl/use-frsl.git
